# Discord
DISCORD_TOKEN=
GUILD_ID=
ADMIN_ROLE_ID=
MOD_ROLE_ID=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=


PRIZE_AMOUNT=

# Point Limits
MAX_REFERRALS=
MAX_VALUE_POSTS_PER_DAY=
MAX_POINTS_PER_POST=

LEADERBOARD_IMAGE_URL=

DIALED_GUILD_ID=
DIALED_WINS_CHANNEL_ID=
RUNITUP_WINS_CHANNEL_ID=